.introduction {
  width: 50%;
  margin: auto;
  padding: 10px;
  border: solid black;
  border-width: 1%;
  background-color: blanchedalmond;
  margin-bottom: 5%;
  box-sizing: border-box;
  text-align: center;
}

.head-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.sidebar  {
  margin: auto;
  width: auto;
  float: left;
  border: solid black;
  border-width: 1px;
  background-color: beige;
  margin-bottom: 10px;
  box-sizing: border-box;
}

h3  {
  text-align: center;
  text-decoration: double;
}

.text-d {
  color: blueviolet;
  font-style: oblique;
}

.column-one {
  width: 350px;
  float: left;
  position: absolute;
  right: 75%;
  margin-left: auto;
  background-color: beige;
  border: solid black;
}

.column-two {
  width: 350px;
  float: right;
  position: absolute;
  left: 30%;
  margin-left: auto;
  background-color: beige;
  border: solid black;
}

body  {
  background-image: -webkit-radial-gradient(circle, cyan, gray);
}